@model IEnumerable<NotaryDatabaseDLL.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="vertical-align:middle">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th style="vertical-align:middle">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to List</a>
</div>