@model IEnumerable<NotaryDatabaseDLL.Models.Notary>

@{
    ViewData["Title"] = "Index";
}

<h1>Notaries</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.FirstName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.NotaryId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.NotaryId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NotaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to List</a>
</div>
