@model IEnumerable<NotaryDatabaseDLL.Models.Office>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Offices</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.OfficeId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.OfficeId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OfficeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to List</a>
</div>
